<html>

    <head>
        <title>hyejoon's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Hyejoon's blog</a></h1>
        </div>
        <div>
            <p> published : 14.06.2018, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p> Hello im hyejoon</p>
        </div>

        <div>
            <p>published:14.06.2018, 12:14</p>
            <h2><a href="">ye second post</a></h2>
            <p>this is seocondpost haha</p>
        </div>
    </body>
    
</html>